.loginSignup {
	float: right;
	margin-right: 10px;
	margin-top: 10px;
}

.auth-btn {
	background-color: #fff;
    border-radius: 3px;
    color: #5c5c5c;
    float: left;
    font-weight: bold;
    margin-right: 10px;
    outline: 0 none !important;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
}

.activeLink {
	background-color: rgba(255, 255, 255, 0.3);
	color: #fff;
}

.navbar-collapse:before, .navbar-collapse:after {
    display: none !important;
}

.profile-padding-right {
    padding-right: 15px !important;
}

#logo {
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;
    float: left;
    margin-top: 10px;
}

#nav-toggle {
    margin-right: 0;
    padding-right: 0;
}

.navbar-brand {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.navbar-toggle {
    margin-bottom: 0;
}

.simplebox {
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.navbar-collapse {
    box-shadow: none !important;
}




