.home-wrapper {

	.snap-content {
		margin-top: 50px;
		border: none;
		box-shadow: 0 0 20px #888;
	}
	.snap-drawer {
		margin-top: 50px;
		background: #323949 none repeat scroll 0 0;
		p {
			color: #fff;
		}
	}
	.snap-drawer-right {
		margin-top: 50px;
	}
}

.snap-drawer-right {
	background: #323949 none repeat scroll 0 0;
}