<div class="backgroundContainer" ng-hide="MasterController.isLoggedIn()">
    <div class="backgroundImage"></div>
    <div class="container vertical-center">
        <div class="col-sm-12">
            <form class="form" name="form" ng-submit="SignupCtrl.register(form)" novalidate>
                <div class="" ng-class="{ 'has-success': form.name.$valid && SignupCtrl.submitted,
                                        'has-error': form.name.$invalid && SignupCtrl.submitted }">
                    <input type="text" placeholder="Username" name="name" class="form-control inputFieldsFP" ng-model="SignupCtrl.user.name" required/>
                    <p class="help-block" ng-show="form.name.$error.required && SignupCtrl.submitted">A name is required</p>
                </div>
                <div class="" ng-class="{ 'has-success': form.email.$valid && SignupCtrl.submitted,
                                            'has-error': form.email.$invalid && SignupCtrl.submitted }">
                    <input type="email" placeholder="Email" name="email" class="form-control inputFieldsFP" ng-model="SignupCtrl.user.email" required mongoose-error/>
                    <p class="help-block" ng-show="form.email.$error.email && SignupCtrl.submitted">Doesn't look like a valid email.</p>
                    <p class="help-block" ng-show="form.email.$error.required && SignupCtrl.submitted">What's your email address?</p>
                    <p class="help-block" ng-show="form.email.$error.mongoose">{{ SignupCtrl.errors.email }}</p>
                </div>
                <div class="" ng-class="{ 'has-success': form.password.$valid && SignupCtrl.submitted,
                                            'has-error': form.password.$invalid && SignupCtrl.submitted }">
                    <input type="password" placeholder="Password" name="password" class="form-control inputFieldsFP" ng-model="user.password" ng-minlength="3" required mongoose-error/>
                    <p class="help-block" ng-show="(form.password.$error.minlength || form.password.$error.required) && SignupCtrl.submitted">Password must be at least 3 characters.</p>
                    <p class="help-block" ng-show="form.password.$error.mongoose">{{ SignupCtrl.errors.password }}</p>
                </div>
                <div>
                    <button class="landing-submit" type="submit">Sign up, it's FREE!</button> 
                    <!-- <a class="btn btn-default btn-lg btn-register" href="" ui-sref="login">
                        Login
                    </a> -->
                </div>
                <hr>
            <div class="social-container"> 
                <a class="btn btn-facebook" href="" ng-click="SignupCtrl.loginOauth('facebook')">
                    <i class="fa fa-facebook"></i> Connect with Facebook
                </a>
                <a class="btn btn-google-plus" href="" ng-click="SignupCtrl.loginOauth('google')">
                    <i class="fa fa-google-plus"></i> Connect with Google+
                </a>
                <a class="btn btn-twitter" href="" ng-click="SignupCtrl.loginOauth('twitter')">
                    <i class="fa fa-twitter"></i> Connect with Twitter
                </a>
            </div>
            </form>
        </div>
    </div>
</div>

<!-- Logged in -->
<div ng-if="MasterController.isLoggedIn()" class="main-app-wrapper">
    <div ng-include="'app/main/home/home.html'"></div>
</div>